html { 
  overflow-x: hidden !important;
} 
body { 
  overflow-x: hidden;
} 

.herofoto {
  background-size: cover !important;
  background-position: right bottom;
  background-repeat: no-repeat;
}
